.grid-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 10px; */
    font-size: 30px;
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    font-size:18px;
    margin-bottom: 30px;
}

@media screen and (max-width: 850px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}